.container {
   font-family: Arial, sans-serif;
   color: #333;
}

.header {
   background-color: #f8f9fa;
   padding: 20px;
}

.topBar {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.nav a {
   margin-right: 20px;
   text-decoration: none;
   color: #074a05;
}

.hero {
   text-align: center;
   margin-top: 50px;
}

.saibaMais {
   background: linear-gradient(to right, #074a05, #32cd32);
   border: none;
   padding: 10px 20px;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

.pacienteSection {
   padding: 50px 20px;
}

.pacienteIntro {
   background-color: #f0f0f0;
   padding: 20px;
   border-radius: 10px;
}

.pacienteCards {
   display: flex;
   justify-content: space-around;
   margin-top: 30px;
}

.card {
   text-align: center;
}

.segurancaSection {
   background-image: url("/background-image.png");
   background-size: cover;
   padding: 50px 20px;
   color: white;
}

.segurancaContent {
   display: flex;
}

.textContent {
   margin-left: 20px;
}

.divWithGradient {
   background: linear-gradient(to bottom, #32cd32, #074a05);
   padding: 20px;
   border-radius: 10px 0 10px 0;
   color: white;
}

.psicologoSection {
   padding: 50px 20px;
   display: flex;
   justify-content: space-between;
}

.featureCard {
   background-color: rgba(255, 255, 255, 0.1);
   padding: 20px;
   border-radius: 10px;
   margin-bottom: 20px;
}

.footer {
   background-color: #f8f9fa;
   padding: 20px;
   text-align: center;
   margin-top: 50px;
}

.footer nav a {
   margin-right: 10px;
   text-decoration: none;
   color: #074a05;
}

.BackgroundHeader {
   object-fit: url("/public/images/BackgroundHeader.jpg");
   object-position: cover;
   background-position: center;
   background-repeat: no-repeat;
   align-items: center;
   justify-content: center;
   display: flex;
   width: 100%;
   height: 100%;
   margin-top: -20rem;
}
