.container {
   font-family: Arial, sans-serif;
   color: #333;
   max-width: 100%;
}

.BackgroundHeader {
   background-image: url("/images/BackgroundHeader.jpg");
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 2227px;
   /* position: relative; */
   /* margin-top: -20rem; */
   z-index: 20;
}

.header .topBar {
   display: flex;
   margin-top: -6rem;
   padding: 20px 30px;
   justify-content: space-between;
   align-items: center;
   min-height: 75px;
}
.header nav ul {
   display: flex;
}
.topBar {
   display: flex;
   z-index: 10;
}
.header nav ul li a {
   font-size: 2.5rem;
   color: #fff;
   text-decoration: none;
   padding: 10px 30px;
   transition: 0.2s;
}
.header nav ul li a:hover {
   color: #fff;
   background-color: rgb(3, 161, 24);
}

.hero {
   margin-top: 50rem;
   color: white;
   font-size: 5rem;
   width: 45rem;
   margin-left: 20rem;
}

.saibaMais {
   width: 25rem;
   padding: 1.6rem;
   font-size: 2rem;
   color: #fff;
   background: linear-gradient(40deg, #2b8a0e, #1c351b);
   border: none;
   border-radius: 5px;
   cursor: pointer;
   transition: 0.3s;
   align-items: center;
   margin-top: 20%;
}

/* seção paciente */

.BackgroundPaciente {
   background-image: url("/images/BackgroundPaciente.png");
   background-position: right;
   background-repeat: no-repeat;
   /* width: 100%; */
   height: 2260px;
   margin-top: -4.3rem;
   /* margin-left: 60%; */
   /* margin-top: -45.5rem; */
}

/* .pacienteSection {
   padding: 50px 20px;
} */

.pacienteIntro {
   background-color: #fff;
   color: black;
   padding: 10rem;
   display: flex;
   position: relative;
   top: 45rem;
   left: 15%;
   border-radius: 10px;
   width: 85rem;
   height: 25rem;
}

.pacienteIntro p {
   display: flex;
   align-items: center;
   margin-left: 18rem;
   width: 68rem;
   font-size: 2rem;
   line-height: 2.8rem;
   font-family: Arial, sans-serif;
}

.pacienteCards {
   display: flex;
   justify-content: space-evenly;
   margin-top: 85rem;
}

.card {
   text-align: center;
   transition: transform 0.5s ease;
}
.card:hover {
   transform: scale(1.02);
}

.segurancaSection {
   background-image: url("/background-image.png");
   background-size: cover;
   padding: 50px 30px;
   color: white;
}

/* seção segurança */

.segurancaImage {
   background-image: url("/images/BackgroundHeader.jpg");
   background-size: cover;
   background-position: top;
   background-repeat: no-repeat;
   width: 100%;
   height: 1080px;
   display: flex;
   flex-direction: row;
   margin-top: -5.5rem;
}
.telemovel {
   display: flex;
   align-items: center;
   margin-left: 1rem;
}
.segurancaContent {
   max-width: 100%;
   color: black;
}

.textContent {
   width: 59.5rem;
   height: 30rem;
   color: #fff;
   margin-top: 29rem;
}
.textContent .primeiro {
   color: #fff;
}
.textContent h2 {
   color: #0c7a08;
   font-size: 70px;
   font-weight: bolder;
}
.textContent p {
   margin-top: 2rem;
   font-size: 26px;
}

/* conteudo gradiente */

.divGradient {
   background: linear-gradient(to bottom, #0c7a08, #002621);
   padding: 20px;
   margin: 20rem auto;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90rem;
   height: 28rem;
   border-radius: 10px 0 10px 0;
   color: white;
}

.divGradient p {
   align-items: center;
   width: 60rem;
   line-height: 2.8rem;
}

/* seção psicólogo */

.backgroundPsicologo {
   background-image: url("/images/fundoPsi2.jpg");
   background-color: #333;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   width: 100%;
   height: 2000px;
   /* position: relative; */
   /* margin-top: -20rem; */
   z-index: 20;
}

.containerPsi {
   display: grid;
   grid-template-columns: 1fr 1fr; /* Duas colunas com tamanhos iguais */
   grid-template-rows: 1fr 1fr; /* Duas linhas com tamanhos iguais */
   gap: 10px; /* Espaço entre os itens */
   width: 100%;
   height: 400px;
}

.featureCard {
   background-color: #00000091;
   padding: 1vw;
   width: 16vw;
   height: 8vw;
   border-radius: 10px;
   margin-bottom: 20px;
   align-items: center;
   display: flex;
   gap: 2vw;
   font-size: 2.5rem;
   font-weight: bolder;
   word-break: normal;
   box-shadow: 0px 0px 10px 10px rgba(255, 255, 255, 0.418);
}

.TituloBorder {
   border: #0c7a08 solid;
   border-width: medium;
   margin-bottom: 3rem;
   border-radius: 10px;
   /* align-self: end;
   display: flex; */
   background-color: #000000af;
}

.TituloPsicologos {
   font-size: 4rem;
   color: #0c7a08;
   margin-left: 10rem;
   margin-right: 10rem;
   flex-direction: column;
   margin-top: 0%;
}

.SubtituloPsicologos {
   font-size: 4rem;
   margin-bottom: 5rem;
   flex-direction: column;
   width: 60rem;
}

.TextoPsicologos {
   font-size: 2.9rem;
   /* font-weight: bolder; */
   text-align: start;
   width: 30vw;
}

.ContainerTextoRight {
   width: 30vw;
}

.ContainerTextoLeft {
   /* width: 30vw; */
   flex-direction: row;
   display: flex;
}

.psicologoCenter {
   color: #fff;
   flex-direction: row;
   justify-content: center;
   display: flex;
   padding: 20rem;
   gap: 7rem;
}

.psicologoRight {
   color: #fff;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   display: flex;
}

.psicologoLeft {
   color: #fff;
   align-items: center;
   display: flex;
   justify-content: center;
   flex-direction: column;
}

.iconDiario {
   object-fit: url("/icones/DiarioPsicologo.svg");
   background-color: #00000000;
}

.iconAtividade {
   object-fit: url("/icones/AtividadePsicologo.svg");
   background-color: #00000000;
}

.iconLembrete {
   object-fit: url("/icones/LembretePsicologo.svg");
   background-color: #00000000;
}

.ImagePc {
   object-fit: url("/images/PcPsicologo.png");
   background-color: #00000000;
   flex-direction: row;
   display: flex;
}

/* rodapé */

.footer {
   background-color: #f8f9fa;
   padding: 20px;
   text-align: center;
   margin-top: 50px;
}

.footer nav a {
   margin-right: 10px;
   text-decoration: none;
   color: #074a05;
}

.devs {
}

.devsTitulo {
   font-size: 5rem;
   font-weight: bolder;
   border: solid;
   border-width: medium;
   border-radius: 20px;
}

.rodape {
   background: linear-gradient(to bottom, #0c7a08, #002621);
   padding: 20px;
   margin: 20rem auto;
   margin-top: 1rem;
   display: flex;
   justify-content: center;
   align-items: center;
   width: 90rem;
   height: 28rem;
   border-radius: 10px 0 10px 0;
   color: white;
}

.rodape p {
   align-items: center;
   width: 60rem;
   line-height: 2.8rem;
}
