.pacienteContainer {
   display: flex;
   align-items: center;
   gap: 0.2rem;
}

.botaoPaciente {
   background-color: #074a05;
   color: white;
   border: none;
   width: 25.1rem;
   padding: 1rem 1rem;
   border-radius: 7px 0 0 7px;
   cursor: pointer;
   transition: background-color 0.3s;
   margin-left: 1.9rem;
   transition: background-color 0.3s, transform 0.2s;
   box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.botaoPaciente:hover {
   background-color: #1f5a29; /* Tom mais escuro no hover */
   transform: translateY(-2px); /* Efeito sutil ao passar o mouse */
}

.checkboxPaciente {
   display: none;
}

.labelCheckbox {
   background-color: #074a05;
   color: white;
   border: none;
   padding: 0.75rem;
   /* margin-left: 0.1rem; */
   border-radius: 0px 7px 7px 0px;
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: transform 0.2s;
}

.labelCheckbox img {
   transform: rotate(0deg);
   transition: transform 0.3s ease-in-out;
}

.checkboxPaciente:checked + .labelCheckbox img {
   transform: rotate(180deg); /* Animação ao abrir a lista */
}

.listaPacientes {
   display: none;
   z-index: 10;
   position: absolute;
   top: 11.5rem;
   left: 2rem;
   background-color: #f4f4f4;
   border: 1px solid #ccc;
   border-radius: 7px;
   box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.1);
   width: 28.8rem;
}

.checkboxPaciente:checked + .labelCheckbox + .listaPacientes {
   display: block;
   animation: fadeIn 0.3s ease-in-out;
}

.pacienteItem {
   padding: 1rem;
   font-size: 1.5rem;
   color: #333;
   cursor: pointer;
   border-bottom: 1px solid #dfdcdcc5;
   transition: background-color 0.2s;
}

.pacienteItem:last-child {
   border-bottom: none;
}

.pacienteItem:hover {
   background-color: #ddd;
}

@keyframes fadeIn {
   from {
      opacity: 0;
      transform: translateY(-10px);
   }
   to {
      opacity: 1;
      transform: translateY(0);
   }
}
