.pacienteContainer {
   display: flex;
   align-items: center;
   gap: 0.2rem;
}

.botaoPaciente {
   background-color: #074a05;
   color: white;
   border: none;
   padding: 1rem 6rem;
   border-radius: 7px 0 0 7px;
   cursor: pointer;
   transition: background-color 0.3s;
   margin-left: 1.9rem;
}

.checkboxPaciente {
   display: none;
}

.labelCheckbox {
   background-color: #074a05;
   color: white;
   border: none;
   padding: 0.75rem;
   /* margin-left: 0.1rem; */
   border-radius: 0px 7px 7px 0px;
   cursor: pointer;
   display: flex;
   align-items: center;
   transition: 0.3s;
}

.labelCheckbox:hover {
   background-color: #056403;
}

.listaPacientes {
   display: none;
   z-index: 10;
   position: absolute;
   top: 9.5rem;
   left: 2rem;
   background-color: #f4f4f4;
   border: 1px solid #ccc;
   border-radius: 0px 0px 7px 7px;
   box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
   width: 21rem;
}

.checkboxPaciente:checked + .labelCheckbox + .listaPacientes {
   display: block;
}

.pacienteItem {
   padding: 1.4rem;
   cursor: pointer;
}

.pacienteItem:hover {
   background-color: #e4e4e4;
}
