.LoginContainer {
   display: flex;
   height: 80vh; /* Altura total da tela */
   overflow: hidden; /* Evita rolagem */
   align-items: center; /* Centraliza verticalmente */
   justify-content: center; /* Centraliza horizontalmente */
}

.LoginContent {
   display: flex;
   width: 100%;
}

.LoginAcess {
   font-size: 8rem; 
   flex-direction: column;
   flex: 1;
   display: flex;
   margin-bottom: 5%;
}

.AcesseSuaConta {
   font-size: 2rem;
}

.LoginForm {
   display: flex;
   flex-direction: column;
   justify-content: center; /* Centraliza o conteúdo verticalmente dentro do .LoginForm */
   align-items: center; /* Centraliza o conteúdo horizontalmente dentro do .LoginForm */
   padding: 5rem; /* Espaçamento interno */
   box-sizing: border-box;
   font-size: 3rem;
   margin: 0; /* Remove margens externas */
}

.BackgroundImageLogin {
   flex: 1;
   position: relative; /* Necessário para o posicionamento da imagem */
}

.InputField {
   width: 100%;
   padding: 1rem;
   font-size: 1rem;
   border: 2px solid #59d606;
   border-radius: 4px;
}

.SubmitButton {
   width: 50%;
   padding: 0.75rem;
   font-size: 2rem;
   color: #fff;
   background-color: #07b332;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   margin-left: 30%;
}

.SubmitButton:hover {
   background-color: #088d03;
}

.FormGroup {
   margin-bottom: 1.5rem;
   font-size: 2rem;
}
