.container {
   padding: 2rem;
   background-color: #f5f5f5; /* Cor de fundo sutil */
   border-radius: 7px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.fc {
   font-family: "Arial", sans-serif;
}

/* Estilo geral do calendário */
.fc-toolbar-title {
   font-size: 24px;
   color: #074a05; /* Título com tom verde */
}

.fc-button {
   background-color: #88c099; /* Verde suave para os botões */
   border: none;
   color: #fff;
   padding: 5px 10px;
   border-radius: 5px;
   transition: background-color 0.3s ease;
}

.fc-button:hover {
   background-color: #66a077; /* Cor um pouco mais escura no hover */
}

.fc-button-primary:not(:disabled).fc-button-active {
   background-color: #66a077; /* Cor ativa */
}

.fc-daygrid-day {
   border: 1px solid #e0e0e0; /* Borda sutil */
}

.fc-daygrid-day-number {
   color: #074a05; /* Verde para os números dos dias */
}

.fc-event {
   background-color: #c2e3cb; /* Eventos com fundo verde claro */
   border: 1px solid #74a974; /* Borda do evento */
   color: #074a05;
}

.fc-highlight {
   background-color: #d4f0d7; /* Cor de destaque quando o dia está selecionado */
}

.fc-day-today {
   background-color: #e0f7e9; /* Cor suave para o dia atual */
   border-color: #88c099; /* Borda sutil */
}

/* Estilo para as setas de navegação */
.fc-prev-button,
.fc-next-button {
   background-color: #88c099;
   color: #fff;
}

.fc-prev-button:hover,
.fc-next-button:hover {
   background-color: #66a077;
}

/* Tooltip dos eventos */
.fc-event:hover {
   cursor: pointer;
   opacity: 0.9;
}

/* Estilo da visualização semanal */
.fc-dayGridWeek-view {
   background-color: #f9fafb;
}

/* .calendario {
   justify-content: center;
   align-items: center;
   width: 100%;
   overflow-y: hidden;
   overflow-x: hidden; 
}

.reactCalendar {
   padding: 1rem;
   text-align: center;
   border-radius: 50%;
   color: #000; 
} */
