.container {
   display: grid;
   grid-template-columns: 1fr 3fr;
   height: 100vh;
   background-color: #f9fafb;
   gap: 20px;
   padding: 10px;
}

/* sidebar */

.sidebar {
   background-color: #ffffff;
   padding: 20px;
   max-height: 80%;
   overflow-x: hidden;
   overflow-y: auto;
   border-right: 2px solid #e6e6e6;
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar::-webkit-scrollbar {
   width: 8px; /* Largura da barra de rolagem */
   height: 88px; /* Altura da barra de rolagem horizontal, se houver */
}

/* Trilho da barra de rolagem */
.sidebar::-webkit-scrollbar-track {
   background: #f1f1f1; /* Cor de fundo da trilha */
   border-radius: 0 16px 16px 0; /* Cantos arredondados */
}

/* Polegar da barra de rolagem */
.sidebar::-webkit-scrollbar-thumb {
   background: #bbb; /* Cor do polegar */
   border-radius: 10px; /* Cantos arredondados */
   min-height: 30px;
   max-height: 50px !important;
   transition: background 0.6s; /* Transição suave para a cor */
}

/* Polegar da barra de rolagem ao passar o mouse */
.sidebar::-webkit-scrollbar-thumb:hover {
   background: #074a05; /* Cor do polegar ao passar o mouse */
}

.sidebar h3 {
   font-size: 1.5em;
   color: #074a05;
   margin-bottom: 20px;
   border-bottom: 2px solid #ddd;
   padding-bottom: 10px;
}

.anotacoesLista li {
   padding: 15px;
   margin-bottom: 10px;
   background-color: #f8f9fa;
   border-radius: 8px;
   cursor: pointer;
   transition: all 0.3s ease;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.anotacoesLista li:hover {
   background-color: #ddd;
   color: #000;
   transform: translateY(-2px);
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.anotacoesLista li p {
   font-size: 1em;
   color: #252424;
   margin: 0;
   flex-grow: 1;
}

.anotacoesLista li strong {
   font-size: 0.9em;
   color: #252424;
}

/* maincontent */

/* Main Container */
.mainContent {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 20px;
   background-color: #f3f4f6;
   min-height: 100vh;
}

/* Annotation Section */
.anotacao {
   background-color: #ffffff;
   padding: 20px;
   border-radius: 12px;
   margin-top: 30px;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
   width: 100%;
   max-width: 800px;
   display: flex;
   flex-direction: column;
   gap: 20px;
   position: relative;
}

/* Header */
.header {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 5px;
   border-bottom: 2px solid #f1f1f1;
   padding-bottom: 10px;
   margin-bottom: 20px;
}

.header h2 {
   font-size: 2.5rem;
   color: #074a05;
   margin: 0;
}

.header p {
   font-size: 1.2rem;
   color: #6c757d;
   margin: 0;
}

/* Textarea */
.textoArea {
   width: 96%;
   height: 25rem;
   border-radius: 8px;
   border: 1px solid #ddd;
   resize: none;
   overflow-x: hidden;
   overflow-y: auto;
   background-color: #f8f9fa;
   font-size: 1em;
   transition: border-color 0.3s ease;
   padding: 15px;
   margin-bottom: 0.8rem;
}


.textoArea::-webkit-scrollbar {
   width: 8px; /* Largura da barra de rolagem */
   height: 88px; /* Altura da barra de rolagem horizontal, se houver */
}

/* Trilho da barra de rolagem */
.textoArea::-webkit-scrollbar-track {
   background: #f1f1f1; /* Cor de fundo da trilha */
   border-radius: 0 16px 16px 0; /* Cantos arredondados */
}

/* Polegar da barra de rolagem */
.textoArea::-webkit-scrollbar-thumb {
   background: #bbb; /* Cor do polegar */
   border-radius: 10px; /* Cantos arredondados */
   min-height: 30px;
   max-height: 50px !important;
   transition: background 0.6s; /* Transição suave para a cor */
}

/* Polegar da barra de rolagem ao passar o mouse */
.textoArea::-webkit-scrollbar-thumb:hover {
   background: #074a05; /* Cor do polegar ao passar o mouse */
}

.textoArea:focus {
   border-color: #074a05;
   outline: none;
   background-color: #ffffff;
}

/* Buttons */
.criarBotoes {
   display: flex;
   justify-content: flex-end;
   gap: 15px;
}

.criarSalvarButton,
.criarCancelarButton {
   display: flex;
   align-items: center;
   gap: 8px;
   padding: 12px 20px;
   font-size: 1em;
   font-weight: bold;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.criarSalvarButton {
   background-color: #074a05;
   color: #ffffff;
}

.criarSalvarButton:hover {
   background-color: #066004;
   transform: translateY(-2px);
}

.criarCancelarButton {
   background-color: #cc0000;
   color: #ffffff;
}

.criarCancelarButton:hover {
   background-color: #b30000;
   transform: translateY(-2px);
}

/* Icons */

/* modal exercicio */

.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 1000;
}

.modalContent {
   background-color: #ffffff;
   padding: 30px;
   border-radius: 12px;
   max-width: 600px;
   width: 90%;
   box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
   text-align: center;
   display: flex;
   flex-direction: column;
   gap: 15px;
}

.salvarButton,
.cancelarButton {
   flex: 1;
   padding: 12px 20px;
   font-size: 1em;
   font-weight: bold;
   border: none;
   border-radius: 8px;
   cursor: pointer;
   transition: all 0.3s ease;
}

.salvarButton {
   background-color: #074a05;
   color: #ffffff;
}

.salvarButton:hover {
   background-color: #066004;
   transform: translateY(-2px);
}

.cancelarButton {
   background-color: #cc0000;
   color: #ffffff;
}

.cancelarButton:hover {
   background-color: #b30000;
   transform: translateY(-2px);
}

.pacientesLista {
   list-style: none;
   padding: 0;
}

.pacientesLista li {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 10px;
   border-bottom: 1px solid #ddd;
}

.modalBotoes {
   display: flex;
   justify-content: space-between;
   margin-top: 20px;
   gap: 3rem;
}

.modalBotoes .salvarButton {
   background-color: #074a05;
}

.salvarButton:hover {
   background-color: #066504;
}

.modalBotoes .cancelarButton {
   background-color: #c62828;
}
.cancelarButton:hover {
   background-color: #a61717;
}

/* Fundo escurecido */
.modalOverlay {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100vh;
   background-color: rgba(0, 0, 0, 0.6); /* Escurecido levemente mais intenso */
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 1000;
}

/* Container do modal */
.modalContent {
   width: 80%;
   max-width: 900px;
   background-color: #ffffff;
   border-radius: 16px;
   padding: 2rem;
   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   position: relative;
}

/* Título do modal */
.modalTitulo {
   font-size: 2.3rem;
   font-weight: bold;
   color: #074a05;
   margin-bottom: 1rem;
   width: 100%;
   text-align: center;
}

/* Descrição do exercício */
.modalDescricao {
   font-size: 1.3rem;
   line-height: 1.6;
   color: #333333;
   margin-bottom: 1.5rem;
   text-align: left;
   line-height: 2rem;
   padding: 0.5rem 1rem;
   border-left: 4px solid #074a05;
   background-color: #f9f9f9;
   border-radius: 4px;
   max-height: 250px;
   overflow-y: auto;
   overflow-x: hidden;
}
/* Estiliza a barra de rolagem no Chrome, Edge e Safari */
.modalDescricao::-webkit-scrollbar {
   width: 8px; /* Largura da barra de rolagem */
   height: 88px; /* Altura da barra de rolagem horizontal, se houver */
}

/* Trilho da barra de rolagem */
.modalDescricao::-webkit-scrollbar-track {
   background: #f1f1f1; /* Cor de fundo da trilha */
   border-radius: 0 16px 16px 0; /* Cantos arredondados */
}

/* Polegar da barra de rolagem */
.modalDescricao::-webkit-scrollbar-thumb {
   background: #bbb; /* Cor do polegar */
   border-radius: 10px; /* Cantos arredondados */
   min-height: 30px;
   max-height: 50px !important;
   transition: background 0.6s; /* Transição suave para a cor */
}

/* Polegar da barra de rolagem ao passar o mouse */
.modalDescricao::-webkit-scrollbar-thumb:hover {
   background: #074a05; /* Cor do polegar ao passar o mouse */
}

/* Data */
.modalData {
   font-size: 1.3rem;
   color: #666666;
   margin-top: 1rem;
   align-self: flex-end;
}

/* Botão de fechar */
.listaBotoes {
   display: flex;
   width: 100%;
   flex-direction: row;
   align-items: center;
   text-align: center;
   justify-content: flex-end;
   gap: 15px;
}
.listaCloseButton {
   /* align-self: center; */
   padding: 1rem 2.5rem;
   font-size: 1.2rem;
   border: none;
   border-radius: 8px;
   background-color: #074a05;
   color: #ffffff;
   cursor: pointer;
   transition: background-color 0.3s ease;
   margin-top: 1.5rem;
}

.listaCloseButton:hover {
   background-color: #066504;
}

.listaApagarButton {
   padding: 10px 25px;
   font-size: 1.2rem;
   border: none;
   border-radius: 8px;
   background-color: #cc0000;
   color: #ffffff;
   cursor: pointer;
   transition: background-color 0.3s ease;
   margin-top: 1.5rem;
}
.listaApagarButton:hover {
   background-color: #a80000;
}
