.perfilContainer {
   padding: 20px;
   background-color: #f9f9f9;
   border: 1px solid #ddd;
   border-radius: 8px;
   max-width: 400px;
   position: absolute; /* Alterado para absolute ou fixed */
   top: 10rem; /* Ajuste esta posição conforme necessário */
   left: 25rem; /* Ajuste esta posição conforme necessário */
   z-index: 20; /* Assegure que está acima de outros elementos */
   box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
}

.cabecalho {
   display: flex;
   align-items: center;
   margin-bottom: 20px;
}

.fotoPerfil {
   width: 80px;
   height: 80px;
   border-radius: 50%;
   margin-right: 20px;
}

.infoPessoal {
   flex-grow: 1;
}

.nickname {
   font-size: 14px;
   color: #666;
}

.infoDetalhada {
   margin-bottom: 20px;
}

.infoDetalhada p {
   margin: 5px 0;
}

.notaContainer {
   margin-top: 20px;
}

.notaTextarea {
   width: 100%;
   height: 100px;
   padding: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
   font-size: 16px;
}

.saveButton {
   margin-top: 10px;
   padding: 10px 20px;
   background-color: #074a05;
   color: white;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

.saveButton:hover {
   background-color: #056403;
}
