/* Container principal */
.container {
   display: grid;
   grid-template-areas:
      "header header"
      "search search"
      "sidebar main";
   grid-template-columns: 250px 1fr;
   grid-template-rows: 70px 50px 1fr;
   height: 100vh;
   overflow: hidden;
   background-color: #f9f9f9;
}

/* Header */
.header {
   grid-area: header;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 0 30px;
   background: linear-gradient(90deg, #ffffff 0%, #ffffff 50%, #074a05 100%);
   /* background: linear-gradient(90deg, #074a05, #097d09); */
   color: #fff;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header .headercontainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 100%;
}

/* Logo */
.logo {
   display: flex;
   align-items: center;
}

.logo img {
   margin-right: 1rem;
}

/* Navegação */
.header nav ul {
   display: flex;
   align-items: center;
   gap: 2rem;
   margin: 0;
   padding: 0;
   list-style: none;
}

.header nav ul li {
   display: flex;
   align-items: center;
   font-weight: 500;
   color: #fff;
   transition: color 0.3s;
}

.header nav ul li:hover {
   color: #d4edda;
}

/* Profile Image */
.header nav ul li .profileImage {
   border-radius: 50%;
   width: 4rem;
   height: 4rem;
   border: 2px solid #fff;
   transition: transform 0.3s, box-shadow 0.3s;
}

.header nav ul li .profileImage:hover {
   transform: scale(1.1);
   box-shadow: 0 4px 8px rgba(255, 255, 255, 0.2);
}

/* Nome do perfil */
.profileName {
   font-size: 1.5rem;
   margin-right: 0.5rem;
   font-weight: bold;
   text-transform: capitalize;
}

/* Botão de logout */
.exitSystem {
   padding: 0.6rem 1.5rem;
   font-size: 1rem;
   font-weight: bold;
   color: #fff;
   background: #d9534f;
   border: none;
   border-radius: 5px;
   text-decoration: none;
   transition: background 0.3s, transform 0.2s;
}

.exitSystem:hover {
   background: #c9302c;
   transform: scale(1.05);
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* .header nav ul li .profileName {
   
} */

.profileDropdown {
   position: absolute;
   right: 20px;
   top: 80px;
   background-color: white;
   border: 1px solid #ccc;
   padding: 15px;
   border-radius: 10px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1000;
}

.profileDropdown p {
   margin: 10px 0;
}

.profileDropdown input {
   display: block;
   margin: 10px 0;
   padding: 8px;
   width: 100%;
   border: 1px solid #ccc;
   border-radius: 5px;
}

.profileDropdown button {
   margin-right: 10px;
   padding: 8px 12px;
   border: none;
   background-color: #074a05;
   color: white;
   border-radius: 5px;
   cursor: pointer;
}

/* .profileDropdown button:last-child {
   background-color: #ccc;
} */

/* Pesquisa do paciente */

.patientSelect {
   grid-area: search;
   background-color: #ffffff;
   display: flex;
   align-items: center;
   border-radius: 7px;
   box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
   margin: 0.2rem;
}

/* .patientSelect .patient {
   padding: 4rem;
}

.selectBox {
   margin-left: 10px;
   padding: 5px;
} */

.searchBar {
   display: flex;
   flex: 1;
   align-items: center;
   justify-content: center;
}

.searchBar input {
   width: 45%;
   padding: 0.5rem;
}

/* barra lateral */

.sidebar {
   grid-area: sidebar;
   background-color: #ffffff;
   display: flex;
   flex-direction: column;
   height: 100%;
   box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
   list-style-type: none;
   padding: 20px 10px 0px 10px;
   display: flex;
   flex-direction: column;
   height: 100%;
}
.sidebar ul li button {
   display: flex;
   width: 100%;
   align-items: center;
   border: none;
   background: none;
   background-color: #f8f9fa;
   font: inherit;
   cursor: pointer;
   padding: 1.6rem;
   transition: all 0.4s ease;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
   margin-bottom: 0.8rem;
}

.sidebar ul li button:hover {
   border-radius: 7px;
   background-color: #ddd;
   transform: translateX(5px);
   transition: all 0.3s ease;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.activeButton {
   background-color: #ddd !important;
   border-radius: 7px;
   transform: translateX(5px);
   transition: 0.1s !important;
   border-left: 4px solid #074a05 !important;
}

.sidebar ul li button p {
   font-size: 1.6rem;
   margin-left: 1rem;
}

/* .spacer {
   flex: 1;
} */

.cadastroButton {
   margin-top: 0px;
   width: 100%;
   /* border-radius: 0 0 7px 0; */
   background-color: #074a05 !important;
   color: #fff;
}
.cadastroButton:hover {
   background-color: #056403 !important;
   transform: translateY(5px) !important;
}
.iconeCad {
   color: #fff;
}

/* Modal Exercicios */

/* .backgroundBlur {
   filter: blur(5px);
   transition: filter 0.3s ease;
}

.modal {
   position: fixed;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   z-index: 1000;
   background-color: #ffffff;
   padding: 200px;
   box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
   border-radius: 8px;
}

.modalContent {
   position: relative;
}

.closeButton {
   position: absolute;
   top: 10px;
   right: 10px;
   font-size: 20px;
}

.modalBackground {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   z-index: 999;
} */

/* area de visualização */

.mainContent {
   grid-area: main;
   background-color: #f4f4f4;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: #074a05;
   text-align: center;
   padding: 20px;
}

/* Container principal */
.featureCards {
   max-width: 800px;
   margin: auto;
}

/* Título e descrição */
.featureCards h1 {
   font-size: 2rem;
   margin-bottom: 1rem;
   color: #333;
}

.featureCards p {
   font-size: 1.2rem;
   color: #555;
   margin-bottom: 2rem;
}

/* Grid de cards */
.cardsContainer {
   display: grid;
   grid-template-columns: repeat(2, 1fr); /* Duas colunas com tamanhos iguais */
   gap: 20px; /* Espaçamento entre as colunas */
   width: 100%;
   max-width: 800px;
   margin: 0 auto; /* Centraliza o conteúdo */
}

.cardsColunaUm,
.cardsColunaDois {
   display: flex;
   flex-direction: column;
   gap: 20px; /* Espaçamento entre os cards na mesma coluna */
}

/* Card individual */
.card {
   background: linear-gradient(to bottom, #ffffff, #e8f5e9);
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
   border-radius: 10px;
   padding: 20px;
   text-align: center;
   transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
   transform: translateY(-5px);
   box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.card h2 {
   font-size: 1.5rem;
   color: #074a05;
   margin-bottom: 10px;
}

.card p {
   font-size: 1rem;
   color: #555;
   line-height: 1.5;
}

.redirectContainer {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   background: linear-gradient(135deg, #074a05, #46a049);
   color: #ffffff;
   text-align: center;
   font-family: "Arial", sans-serif;
   padding: 20px;
}

.redirectContainer p {
   font-size: 1.5rem;
   margin-bottom: 20px;
   line-height: 1.6;
   letter-spacing: 0.5px;
}

.loginLink {
   display: inline-block;
   padding: 10px 20px;
   background-color: #ffffff;
   color: #074a05;
   text-decoration: none;
   font-weight: bold;
   font-size: 1rem;
   border-radius: 30px;
   box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
   transition: all 0.3s ease-in-out;
}

.loginLink:hover {
   background-color: #e0e0e0;
   color: #046c04;
   transform: scale(1.05);
   box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
}
